@use '../utils/variables';
@use '../utils/animations';
@use '../utils/functions';

.stopwatch {
  width: variables.$stopwatch-size;
  height: variables.$stopwatch-size;

  border: variables.$border-width dotted #000;
  border-radius: 50%;

  position: relative;

  &__center {
    position: absolute;
    top: 50%;
    left: 50%;

    width: variables.$center-size;
    height: variables.$center-size;
    z-index: 1;

    margin-left: functions.shift(variables.$center-size);
    margin-top: functions.shift(variables.$center-size);

    background-color: variables.$center-color;
    border-radius: 50%;
  }

  &__minutes {
    position: absolute;
    left: 50%;
    bottom: 50%;

    width: variables.$minutes-width;
    height: variables.$minutes-height;

    margin-left: functions.shift(variables.$minutes-width);

    background-color: variables.$minutes-color;

    transform-origin: bottom center;
    animation: {
      name: rotate;
      duration: variables.$minutes;
      timing-function: steps(variables.$steps, end);
      iteration-count: infinite;
    }
  }

  &__seconds {
    position: absolute;
    left: 50%;
    bottom: 50%;

    width: variables.$seconds-width;
    height: variables.$seconds-height;

    margin-left: functions.shift(variables.$seconds-width);

    background-color: variables.$seconds-color;

    transform-origin: bottom center;
    animation: {
      name: rotate;
      duration: variables.$seconds;
      timing-function: linear;
      iteration-count: infinite;
    }
  }

  &--speed-up {
    .stopwatch__seconds {
      animation-duration: variables.$speed-up-seconds;
    }

    .stopwatch__minutes {
      animation-duration: variables.$speed-up-minutes;
    }
  }
}
