$stopwatch-size: 80vmin;
$center-size: 5vmin;
$minutes-width: 3vmin;
$minutes-height: 20vmin;
$seconds-width: 1.5vmin;
$seconds-height: 38vmin;
$border-width: 1vmin;
$center-color: #f6a603;
$minutes-color: #0700ff;
$seconds-color: #2c8000;
$seconds: 60s;
$steps: 60;
$minutes: $seconds * $steps;
$speed-up-seconds: 10s;
$speed-up-minutes: $speed-up-seconds * $steps;
